replicaCount: 3

image:
  name: booking-service
  tag: latest
  pullPolicy: Never

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

env:
  - name: ENABLE_FEATURE_X
    value: "false"

resources:
  requests:
    memory: "128Mi"
    cpu: "200m"
  limits:
    memory: "256Mi"
    cpu: "500m"

livenessProbe:
  path: /health
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  path: /ready
  initialDelaySeconds: 10
  periodSeconds: 5
